body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 7, 7);
    margin: 0%;
    
}
#header {
    text-align: center;
}

 #header > div:first-child { 
    background-color: rgb(63, 63, 187);
    color: black;
    padding: 30px;

}
.content {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    background-color: aliceblue;
    padding: 30px;

}
.content h2 { 
    color: rgb(53, 53, 184);
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
.content h3 {
    color: rgb(71, 78, 182);
}
.content img {
    border-radius: 50%;
    object-fit: cover;
}
.content a {
    color: rgb(54, 54, 180);
}
.content li {
    margin-bottom: 8px;
}
#footer {
    text-align: center;
    background-color: rgb(63, 63, 187);
    color: black;
    padding: 15px;
    margin-top: 30px;
}